<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699594577334-d897bs6qo3087rvs4oofg17om09t6ukv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699594577334-d897bs6qo3087rvs4oofg17om09t6ukv</string>
	<key>API_KEY</key>
	<string>AIzaSyBvDO9F6X0QS1YmK_ykyGh4DHQEYRNwtjs</string>
	<key>GCM_SENDER_ID</key>
	<string>699594577334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Onur.Lodoos</string>
	<key>PROJECT_ID</key>
	<string>lodoos-cb0c5</string>
	<key>STORAGE_BUCKET</key>
	<string>lodoos-cb0c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699594577334:ios:7c943b1c7f5e6e4a895d17</string>
</dict>
</plist>